@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  color: #937345;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
  width: 100px;
  height: 100px;
}

#psv-marker-company-logo {
  background-position: center;
}

div.psv-marker {
  background-color: #937345;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid;
}

.room-description {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
